
/*  form   */

/* FORM */

#form-container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
    margin: 25px auto;
    padding: 33px;
}

#form-container h2 {
    font-weight: 900;
    margin-bottom: 30px;
}

#form-container a {
    color: #222;
    transition: .5s;
    text-decoration: none;
    font-weight: 500;
}

#form-container a:hover {
    color: #6c63ff;
    font-weight: 500;
}


#form-container .form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

#form-container .form-control:focus {
    box-shadow: none;
}

#form-container .form-floating label {
    color: rgb(143, 143, 143);
}

#form-container .form-floating>.form-control:focus~label {
    color: #222;
}

#form-container input[type="submit"] {
    background-color: #6c63ff;
    border-color: #6c63ff;
}

#form-container input[type="checkbox"]:checked {
    background-color: #6c63ff;
    border-color: #6c63ff;
}

.btn.btn-primary {
    width: 100%;
    margin-top: 25px;
}


/* img */



#link-container {
    text-align: center;
    padding-top: 50px;
}

.imgwidth {
    width: 400px;
    height: 450px;
}