:root {
  --color-primary: #3b49df;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #404040;
  --bg-primary: #f5f5f5;
  --bg-secondary: #fff;
  --btn-bg-secondary: #bdbdbd;
  --btn-bg-secondary-hover: #3d3d3d;
  --btn-bg-red: #b91c1b;
  --icon-color-like: #dc2625;
  --icon-color-unicorn: #169668;
  --icon-color-bookmark: #4f45e5;
  --icon-bg-hover-like: #f4e2e1;
  --icon-bg-hover-unicorn: #e1ece7;
  --icon-bg-hover-bookmark: #f5f5f5;
  --border-radius: 7px;
  --border-radius-big: 10px;
  --border-radius-circle: 50%;
  --border-color: #e5e5e5;
  --box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  --box-shadow-2: 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.tags__input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 1.2rem 0;
  padding: 1rem 1.2rem;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.tags__input:focus-within {
  border: 1px solid var(--color-primary);
}

.tags__input input {
  border: none;
  padding: 0.4rem 0 0 0.4rem;
}

.tags__input input:focus {
  outline: transparent;
}

.input__list {
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.input__item {
  height: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 6px;
  gap: 0.8rem;
}

.input__item i {
  width: 1.6rem;
  height: 1.6rem;
  line-height: 1.6rem;
  color: #a4a0e4;
  border-radius: 10;
  cursor: pointer;
}
.hashtag{
  color: purple;
}