.createBlog {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-width: 2px;
    border-radius: 2px;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    border-color: 'red';
    transition: border 0.24s ease-in-out;
}

.title_input {
    margin-left: 15px;
    margin-right: 20px;
    width: 95% !important;
}

.wrapper {
    display: inline-block;
    height: 400px;
    overflow: scroll;
}

.wrapper img {
    max-width: 90%;
}

input {
    outline: none;
}

.previewbtn {
    border-color: #0d0a34;
    width: 150px;
}

.previewbtn:hover {
    background-color: #3A64EF;

}

.CreateBlog {
    background: #fff;
    border: 0px 14px 80px rgba(34, 35, 58, 0.2);
    border-radius: 25px;
    height: 80%;
}

.CreateBlog_page {
    margin: 115px 120px;
    border-radius: 20px;
    /* box-shadow: .5px 10px 15px rgba(0,0,0,.2) ; */
}

textarea,
input {
    outline: none;
    border: none;

}

.blog-slider__item {
    display: flex;
    align-items: center;

}

.blog-slider__img img {

    opacity: 1;
    transition-delay: .3s;
}

.blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
}

.blog-slider__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
}


.blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
}

.blog-slider__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #0d0a34 0%, #5a4872 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;

}

.blog-slider__img {
    width: 500px;
    flex-shrink: 0;
    height: 500px;
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;

}

.imgBar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    border-radius: 20px;
    transition: all .3s;
}


.blog-slider__content {

    opacity: 1;
    transform: none;
}

.blog-slider {
    width: 95%;
    position: relative;
    max-width: 85%;
    background: #fff;
    border: 0px 14px solid 80px rgba(34, 35, 58, 0.2);
    border-radius: 25px;
    height: 500px;
    margin: 95px 120px;

}


.toolBar_btn {
    color: #5c6b72;
    width: 25px;
    height: 20px;
    padding: 20px;


}

.toolBar_btn:hover {
    color: #0d0a34;
}

#link-container {
    text-align: center;
    padding-top: 50px;
}