.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.category:after
{
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #25CAAC;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.category:hover::after
{
    opacity: 1;
}
.hero {
  position: relative;
  min-height: 200px;
  background-image: linear-gradient(to right, white 20%, #25CAAC 80%);
  z-index: 1;
  height: 100vh;
  width: 100%;
}
.hero::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, #25CAAC 20%, white 80%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
  height: 100vh;
  width: 100%;
}
.hero:hover::before {
  opacity: 1;
}
.sessioncard
{
  position: relative;
  width: 100%;
  color: black;
  background: #d3ebff;
}
.sessioncard:before
{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 40px 40px 0;
  border-style: solid;
  border-color: lightblue #effafc;
}
.background
{
  background: url(components/test2.jpg) no-repeat fixed;
  background-size: cover;
}

/* ########################################################################### */